/* foor root emel7ent */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: whitesmoke;
    /* for font */
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #06283D;
}
li {
    list-style-type: none;
    padding-left: 20px;
    
}
a :visited{
    text-decoration: none;
}
a {
    text-decoration: none;
}
main {
    margin: 10px 10em 0px 5em;
}
hr {
    color: #06283D;
}
/* navbar */
#for_respo {
    background-color: transparent;
}
header {
    background-color: #06283D;
    display: flex;
}
nav {
    background-color: #06283D;
    padding:1.5em;
    margin: auto;
}
nav .navlink {
    position: relative;
    text-decoration: none;
    color: white;
    background-color: #06283D;
    padding:10px;
    margin: 10px;
    top: -2em;
    left: 1em;
    flex-direction: row;

}

nav .navlink:hover{
    background-color: white;
    color: #06283D;
    border: #06283D 1px solid;
    border-radius: 15px;
}
header nav img{
    width: 80px;
    background-color: #06283D;
    text-decoration: none;
    flex-direction: row;
}
@media only screen and (max-width:  570px){
    * {
        padding: 0px;
        margin: 0px;
        left: 0px;
        right: 0px;
    }
    header {
        display:inline-block;
        width: 100%;
    }
    nav a{
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        display:inline-block;
        text-align: center;
    }
    nav .navlink {
        left: 0em;
    }
    #for_respo{
        display: flex;
        background-color: transparent;
        justify-content: center;
        align-items: center;
    }
    nav img {
        margin-bottom: 3em;
    }
}
/* footer */

@media only screen and (max-width:  1024px) {
    footer {
    left:0px;
    bottom:0px;
    margin: auto;
    width: 100%;
    }
}
footer hr {
    color: #06283D;
}
footer {
    padding: 1.5em;
    background-color: #06283D;
    margin-top: auto;
    width: 100%;
}

footer h4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #06283D;
    color: white;
}

/* main items in index */
main{
    margin: 2em 5em 2em 5em;
}
#mypro{
    display: flex;
    margin-bottom: 2em;
}
#mypro  img{
    flex-direction: column;
    border-radius: 10px;
    flex: 0;
}
#mypro_name{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
/* article */
#article_1 h3{
    background-color: #06283D;
    color: whitesmoke;
    padding: 10px;
    width: min-content;
    margin: 1em 0 1em 0;
    border-radius: 0.5em;
    font-size: large;
}
#article_1 p{
    background-color: white;
    border-radius: 1em; 
    color: #06283D;
    padding: 1em ;
    width: 100%;
}

/* form styling in contac */
#button-sb  {
    margin-top: 1em;
    padding:1em ;
    background-color: white;
    border-radius:10px ;
}
#main_con {
    max-width: min-content;
}
#main_con h1 {
    background-color: #06283D;
    border-radius: 10px; 
    color:white ;
    padding: 10px ;
    margin: 0em 0 1em 0;
    width: max-content;
} 

#main_con h2 {
    background-color: #06283D;
    border-radius: 10px; 
    color:white ;
    padding: 10px ;
    margin: 1em 0 1em 0;
    width: max-content;
}

#main_con input{
    background-color: white;
    color: #06283D;
    font-weight: bold;
    padding: 1em;
    border:solid #06283D 2px;
    border-radius: 8px;
    box-shadow: 10px 10px 41px -23px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 41px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 41px -23px rgba(0,0,0,0.75);
}
#main_con textarea {
    background-color: white;
    color: black;
    padding: 1em;
    border:solid #06283D 2px;
    border-radius: 8px;
    width: 250px;
}
button {
    margin-top: 1em;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: #06283D;
    color: white;
    font-size: x-large;
}
button:hover {
    background-color:#002ead;
    transition: 0.7s;
}
#input {
    margin-top: 1em;
}
#pesan {
    margin-top: 2em;
    padding: 10px;
    border-radius: 10px;
    background-color: #06283D;
    color: white;
    font-size: x-large;
}
/* about me */
#main_abo article h1 {
    background-color: #06283D;
    border-radius: 10px; 
    color:white ;
    padding: 10px ;
    margin: 1em 0 1em 0;
    width: max-content;
}

#main_abo article p {
    background-color: white;
    border-radius: 1em; 
    color: #06283D;
    padding: 1em ;
    width: 100%;
}

#main_abo article video{
   position: relative;
}